// Masthead headers
//      Masthead Containers: $masthead-<variable>
//      Masthead Content: $mastContent-<variable>
.masthead {
    background: $masthead-Background;
    display: block;
    width: 100%;
    height: $masthead-Height;
    +.masthead {
        margin-top: .5rem;
    }
    .content {
        display: $mastcontent-Display;   
        flex-direction: $mastContent-FlexDirection;
        align-items: $mastContent-alignItems;
        text-align: $mastContent-textAlign;
        justify-content: $mastContent-justifyContent;
        width: $mastContent-width;
        margin: $mastContent-margin;
        height: $masthead-Height;
        color: $mastContent-color;
    }
    &.light {
        background: $masthead-LightBG;
        .content {
            color: $mastContent-lightColor;
        }
    }
    &.rounded {
        border-radius: $masthead-RoundedRadius;
    }
    &.margined {
        margin: $masthead-Margined;
    }
}

// Article blocks
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
article {
    display: $article-display;
    margin: 1rem .5rem;
    h1, h2 {
        font-family: $article-headerFont;
    }
    p {
        font-family: $article-pFont;
        font-size: $article-pFontSize;
        margin: $article-pMargin;
        line-height: $article-pLineHeight;
    }
    p+p {
        margin-top: $article-pMultiMargin;
    }
}