// Headers
h1 {
    font-size: 3.0rem;
    line-height: 3.3rem;
    margin-bottom: .5rem;
    font-weight: 500;
}
h2 {
    font-size: 2.5rem;
    line-height: 2.3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}
h3 {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}
h4 {
    font-size: 1.8rem;
    line-height: 2.0rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}
h5 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}
h6 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}

// Paragraph
p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0;
    font-weight: 400;
    +p {
        padding-top: .5rem;
    }
}

// Section Heads
.section-1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 5.3rem;
}
.section-2 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 4.8rem;
}
.section-3 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 4.3rem;
}
.section-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 3.8rem;
}


// Containers
.container {
    max-width: 95%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding-top: .5rem 0;
}

// Code
code {
    display: inline-block;
    background: darken(#ffffff, 5%);
    color: rgb(145, 65, 105);
    padding: 5px 3px;
    font-family: monospace;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    background: darken(#ffffff, 10%);
    border: solid 1px darken(#ffffff, 15%);
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
pre>code {
    display: inherit;
    background: transparent;
    color: inherit;
    padding: 0;
}

// Dividers
hr {
    margin: 1rem 0;
}

// Figures and blockquotes
blockquote.blockquote {
    border-left: solid 2px $grey;
    padding-left: .5rem;
    margin: .5rem 0;
    font-size: 1.5rem;
    line-height: 2rem;
}
figure {
    blockquote.blockquote {
        border-left: none;
        padding-left: 0;
        margin: .5rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .figcaption {
        font-size: .8rem;
        line-height: .8rem;
        color: $grey;
        margin-top: -2px;
        margin-left: 25px;
    }
    .figcaption::before {
        content: "— ";
        color: $grey;
    }
}


// Utilities
.lead {
    font-size: 1.5rem;
    line-height: 2rem;
}
.dottedLink {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: $blue;
}
.textCenter { text-align:  center; }
.textLeft { text-align:  left; }
.textRight { text-align: right; }

// Lists
ul {
    list-style: disc;
    margin: 1rem 0 1rem 1rem;
    >ul {
        margin: .2rem 0 .2rem 1rem;
    }
}
ul.unstyledList {
    list-style: none;
    margin: 1rem 0;
    >ul {
        margin: .2rem 0 .2rem 1rem;
    }
}
ul.inlineList {
    list-style: inline;
    margin: 1rem 0;
    li {
        display: inline-block;
    }
}
ol {
    list-style: decimal;
    margin: 1rem 0 1rem 1rem;
    >ol {
        margin: .2rem 0 .2rem 1rem;
    }
}