// Headers
h1 {
    font-size: 2rem;
    line-height: 2.3rem;
}


// Containers
.container {
    max-width: 95%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding-top: .5rem 0;
}