// Main Nav definition, based on Nox
.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: $navPaddingY $navPaddingX;
    line-height: $navLineHeight;
    justify-content: flex-start;
    background: $blue;
    .branding {
        padding: $navBrandingPadY 0;
        margin-right: $navBrandingMargin;
        font-weight: $navBrandingWeight;
        color: $white;
        >a {
            color: $white;
            padding: $navItemPadding;
        }
        font-size: $navBrandingFontSize;
        white-space: nowrap;
    }
    .right {
        margin-left: auto;
        .dropdown {
            right: 0;
        }
    }
    .group {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        list-style: none;
        ul {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
            margin-top: 0;
            list-style: none;
        }
        li {
            padding-right: 0;
            padding-left: 0;
            list-style-position: outside;
            a {
                padding: $navItemPadding;
                font-size: $navFontSize;
                color: $white;
                transition: color ease .1s;
            }
        }
    }
    .group.transition {
        ul {
            li {
                a:hover {
                    color: darken($white, 3%);
                }
            }
        }
    }
}

// Larger font size nav
.nav.larger {
    .group {
        ul {
            li {
                a {
                    font-size: $navFontSize-Larger;
                }
            }
        }
    }
    .branding {
        font-size: $navBrandingFontSize-Larger;
    }
}

// Color variations
.nav.dark {
    background: $black;
}
.nav.slate {
    background: $slate;
}

// Shape variations
.nav.rounded {
    border-radius: 5px;
}

// Transparent header variations (for use above a large home page header)
.nav.transparent-light {
    background: transparent;
    .group {
        li {
            a {
                color: $white;
            }
        }
    }
}
.nav.transparent-dark {
    background: transparent;
    .group {
        li {
            a {
                color: $black;
            }
        }
    }
    .branding {
        >a {
            color: $black;
        }
    }
}

// Navigation header block
.navHeader {
    background: $navHeader-background;
    display: $navHeader-display;
    width: $navHeader-width;
    height: $navHeader-height;
    .content {
        display: flex;
        flex-direction: $navHeaderContent-flexDirection;
        align-items: $navHeaderContent-alignItems;
        text-align: $navHeaderContent-textAlign;
        justify-content: $navHeaderContent-justifyContent;
        width: $navHeaderContent-width;
        margin: $navHeaderContent-margin;
        height: $navHeaderContent-height;
        color: $navHeaderContent-color;
    }
    &.dark {
        background: $navHeaderDark-background;
        .content {
            color: $navHeaderContentDark-color;
        }
    }
}