// Main color palette
$blue: rgb(52, 140, 235);
$orange: rgb(235, 116, 52);
$red: rgb(235, 58, 52);
$green: rgb(52, 235, 86);
$purple: rgb(235, 52, 153);
$pink: rgb(255, 105, 195);
$slate: rgb(134, 142, 145);
$grey: rgb(107, 107, 107);
$black: rgb(51, 51, 51);
$trueblack: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Navigation
$navPaddingY: 20px;
$navPaddingX: 15px;
$navLineHeight: 1.2rem;
$navBrandingPadY: 0;
$navBrandingMargin: 15px;
$navBrandingWeight: 400;
$navBrandingFontSize: 1.1rem;
$navItemPadding: 8px;
$navFontSize: .99rem;
$navFontSize-Larger: 1.2rem;
$navBrandingFontSize-Larger: 1.6rem;