// Main color palette
$blue: rgb(52, 140, 235);
$orange: rgb(235, 116, 52);
$red: rgb(235, 58, 52);
$green: rgb(52, 235, 86);
$purple: rgb(235, 52, 153);
$pink: rgb(255, 105, 195);
$slate: rgb(134, 142, 145);
$grey: rgb(107, 107, 107);
$black: rgb(51, 51, 51);
$trueblack: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Navigation
$navPaddingY: 20px;
$navPaddingX: 15px;
$navLineHeight: 1.2rem;
$navBrandingPadY: 0;
$navBrandingMargin: 15px;
$navBrandingWeight: 400;
$navBrandingFontSize: 1.1rem;
$navItemPadding: 8px;
$navFontSize: .99rem;
$navFontSize-Larger: 1.2rem;
$navBrandingFontSize-Larger: 1.6rem;

// Navigation Header
$navHeader-background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(199,86,0,1) 42%, rgba(89,0,255,1) 100%);
$navHeaderDark-background: linear-gradient(40deg, white 0%, #ff9e00 42%, #00ff37 100%);
    // Eventually this will be a fallback value, and the actual image or gradient background will be controlled by Javascript.
$navHeader-display: block;
$navHeader-width: 100%;
$navHeader-height: 100vh;
$navHeaderContent-flexDirection: column;
$navHeaderContent-alignItems: center;
$navHeaderContent-textAlign: center;
$navHeaderContent-justifyContent: center;
$navHeaderContent-width: 100%;
$navHeaderContent-margin: -60px 0 0 0;
$navHeaderContent-height: calc(100% - 60px);
    // The height of the navigation gets subtracted here
$navHeaderContent-color: #fff;
$navHeaderContentDark-color: $black;

// Masthead
$masthead-Background: #333;
$masthead-Height: 60vh;
$masthead-LightBG: rgb(209, 209, 209);
$masthead-RoundedRadius: 10px;
$masthead-Margined: .5rem;

// Masthead Content
$mastcontent-Display: flex;
$mastContent-FlexDirection: column;
$mastContent-alignItems: center;
$mastContent-textAlign: center;
$mastContent-justifyContent: center;
$mastContent-width: 100%;
$mastContent-margin: 0;
$mastContent-color: #fff;
$mastContent-lightColor: #333;

// Articles
$article-display: block;
$article-headerFont: "Century Schoolbook", serif;
$article-pFont: "Scheherazade New", serif;
$article-pFontSize: 1.4rem;
$article-pMargin: 0 .2rem;
$article-pLineHeight: 1.8rem;
$article-pMultiMargin: .8rem;